

/* --------- PRODUCTOS --------- */


.tituloProd {
	height: 20rem;
	@include flexCenter;
	justify-content: center;
	z-index: 3;
	h1 {
		font-size: 4rem;
		font-weight: bold;
		text-align: center;
		color: $color_2;
		border: 3px solid $color_2;
		padding: 0 1rem;
	}
}
#videoBackground {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	top: -35%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
.mainProd {
	background-image: url("../img/manchas.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	h2 {
		font-weight: bold;
		text-align: center;
		margin-top: 3rem;
		padding-top: .5rem;
		border-top: 5px solid $color_4;
	}
}
.productosClasicos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
}
.card {
	margin: 1rem;
	background-color: $background-color_2;
	border-radius: 2px;
	border: none;
}
.card-title {
	font-weight: bold;
	color: $color_2;
}
.card-text {
	color: $color_2;
	margin-top: 1rem;
}