$font-family_1: 'Roboto', sans-serif;

$color_1: rgb(33, 37, 41);
$color_2: rgb(233, 233, 233);
$color_3: #BB5D5E;
$color_4: rgb(130, 0, 0);
$color_5: rgb(161, 1, 1);

$background-color_1: rgb(233, 233, 233);
$background-color_2: rgb(130, 0, 0);
$background-color_3: rgba(233, 233, 233, 0.5);